<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
</head>

<body>
    <form action="" method="post">
        <input type="text" name="title" id="title" placeholder="title" />
        <textarea name="theme" id="theme" cols="30" rows="10" placeholder="theme"></textarea>
        <input type="file" name="homePic" id="homePic" accept="image/*" placeholder="picture" />
        <button type="submit">save</button>
    </form>
    <script src="/javascripts/index.js"></script>
</body>

</html>