<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/contact" method="POST">
      <label for="name">full name</label>
      <input type="text" name="name" id="name">
      <label for="name">email address</label>
      <input type="email" name="email" id="email">
      <label for="name">message</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
